.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 12rem;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
