.passwordFormContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 1rem 0;
}

.passwordFormContainer .passwordLabel {
    color: #aba8a8;
    font-weight: normal;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.passwordFormContainer input {
    padding: 0.8rem;
    font-size: 1rem;
    border-radius: 0.6rem;
    border: 1px solid #ccc;
}

.passwordFormContainer .passwordLabel .iconWithTest {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.passwordFormContainer .passwordLabel .iconWithTest:hover {
    cursor: pointer;
    color: #000;
}
