.container {
    display: flex;
    overflow: hidden;
    height: 100vh;
}

.leftSection {
    padding: 2.5rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex: 1;
}

.container h1 {
    font-size: 24px;
    margin-bottom: 1rem;
}

.container .subHeading {
    font-weight: lighter;
}

.container a {
    color: #0070f3;
    text-decoration: none;
}

.container a:hover {
    text-decoration: underline;
}

.rightSection {
    width: 45%;
    overflow: hidden;
    height: 100vh;
}

.rightSection .videoBackground {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
